---
import logo from "../../images/placeholderlogo.jpg";
import Facebook from '../../images/Facebook.png';
	import Youtube from '../../images/Youtube.png';
	import Insta from '../../images/instaa.png';
	import Twitt from '../../images/Twitter.png';
---

<footer class="footersix">
    <div class="container">
        <div class="row space">
			<div class="col-lg-4">
				<div class="footersix__logo">
					<img src={logo} alt="BITS Law School" title="BITS Law School" /> 
				</div>
			</div>   
			<div class="col-lg-3">
				<div class="footersix__seccol">
					<ul>
						<li><a href="javascript:void(0)">Careers</a></li>
						<li><a href="javascript:void(0)">Contact Us</a></li>
						<li><a href="javascript:void(0)">Sitemap</a></li>
						<li><a href="javascript:void(0)">Posh Policy</a></li>
						<li><a href="javascript:void(0)">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5">   
				<div class="footersix__thirdcol">
					<img src={logo} width="100%" alt="Download Brochure" title="Download Brochure">
					<a class="download" href="javascript:void(0)">Download Brochure</a>
				</div>
			</div>  
        </div>
		<div class="row footersix__copyright">
			<div class="col-lg-6">
				<p>Copyright © 2022 BITS LAW. All rights reserved.</p>
            </div>
            <div class="col-lg-6">
				<ul class="social">
					<li><a href="">Follow us</a></li>
				   <li><a href="javascript:void(0);"><img src={Facebook} title="Facebook" alt="Facebook"/></a></li>
				   <li><a href="javascript:void(0);"><img src={Youtube} title="Youtube" alt="Youtube"/></a></li>
				   <li><a href="javascript:void(0);"><img src={Insta} title="Instagram" alt="Instagram"/></a></li>
				</ul>
            </div>
		</div>
    </div>
</footer>