---
import cardImg1 from "../../images/projectdashboard.png";
import ImageOne from "../../images/accordionImage.png";
---

<section class="section--mar">
  <div class="container">
      <div class="col col2 col2__reverse">
          <div class="col__content">
              <h5 class="section__highlight">Lorem ipsum</h5>
              <h2 class="section__title">Lorem ipsum dolor sit amet</h2>
              <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                  exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                  asperiores adipisci error quos?
              </p>
              <div class="accordion accordion--1">
                  <div class="accordion__item">
                      <h3 class="accordion__item--title">
                          Lorem ipsum dolor sit, amet ?
                      </h3>
                      <p class="accordion__item--content">
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                          exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                      </p>
                  </div>
                  <div class="accordion__item">
                      <h3 class="accordion__item--title">
                          Lorem ipsum dolor sit, amet ?
                      </h3>
                      <p class="accordion__item--content">
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                          exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                      </p>
                  </div>
                  <div class="accordion__item">
                      <h3 class="accordion__item--title">
                          Lorem ipsum dolor sit, amet ?
                      </h3>
                      <p class="accordion__item--content">
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
                          exercitationem fugit nisi voluptatibus praesentium enim obcaecati
                      </p>
                  </div>
              </div>
          </div>
          <div class="col__img">
              <img src={cardImg1} alt="" />
          </div>
      </div>
  </div>
</section>

<section class="mt-25">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="accordion accordion--2">
          <div class="accordion__item">
            <h2 class="accordion__heading"><button class="accordion__trigger">The Modern Piano Accordion</button></h2>
            <div class="accordion__copy">
              <div class="row">
                <div class="col-md-3 col-12 text-center">
                  <img src={ImageOne} alt="Image" class="accordion__copy__pic mb-10">
                </div>
                <div class="col-md-9 col-12">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        
                  <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <h2 class="accordion__heading"><button class="accordion__trigger">Button Accordions</button></h2>
            <div class="accordion__copy">
              <div class="row">
                <div class="col-md-3 col-12 text-center">
                  <img src={ImageOne} alt="Image" class="accordion__copy__pic mb-10">
                </div>
                <div class="col-md-9 col-12">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        
                  <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <h2 class="accordion__heading"><button class="accordion__trigger">Sound Production</button></h2>
            <div class="accordion__copy">
              <div class="row">
                <div class="col-md-3 col-12 text-center">
                  <img src={ImageOne} alt="Image" class="accordion__copy__pic mb-10">
                </div>
                <div class="col-md-9 col-12">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        
                  <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <h2 class="accordion__heading"><button class="accordion__trigger">History</button></h2>
            <div class="accordion__copy">
              <div class="row">
                <div class="col-md-3 col-12 text-center">
                  <img src={ImageOne} alt="Image" class="accordion__copy__pic mb-10">
                </div>
                <div class="col-md-9 col-12">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        
                  <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <h2 class="accordion__heading"><button class="accordion__trigger">Popularization</button></h2>
            <div class="accordion__copy">
              <div class="row">
                <div class="col-md-3 col-12 text-center">
                  <img src={ImageOne} alt="Image" class="accordion__copy__pic mb-10">
                </div>
                <div class="col-md-9 col-12">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        
                  <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-25">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="accordionTypeThree">
          <ul id="accordionUL">
            <li class="accordionList active">
              <div class="section-title">
                <h2>The Modern Piano Accordion</h2>
              </div>
              <div class="section-content visible">
                <div class="row">
                  <div class="col-12">
                    <img src={ImageOne} alt="Image" class="horizontalAccordionImg mb-10">
                  </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
              </div>
            </li>
            <li class="accordionList">
              <div class="section-title">
                <h2>Button Accordions</h2>
              </div>
              <div class="section-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </li>
            <li class="accordionList">
              <div class="section-title">
                <h2>Sound Production</h2>
              </div>
              <div class="section-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </li>
            <li class="accordionList">
              <div class="section-title">
                <h2>History</h2>
              </div>
              <div class="section-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>    
            </li>
            <li class="accordionList">
              <div class="section-title">
                <h2>Popularization</h2>
              </div>
              <div class="section-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>    
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
