---
import SlideOne from "../../images/animation-slider.jpg";
import SlideTwo from "../../images/animation-slider2.jpg";
import SlideThree from "../../images/animation-slider3.jpg";
import SlideFour from "../../images/animation-slider4.jpg";
---

<!-- Slider main container -->
<div class="swiper-eight">
    <div class="swiper mySwiperEight">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src={SlideOne} alt="">
          </div>
          <div class="swiper-slide">
            <img src={SlideTwo} alt="">
          </div>
          <div class="swiper-slide">
            <img src={SlideThree} alt="">
          </div>
          <div class="swiper-slide">
            <img src={SlideFour} alt="">
          </div>
          <div class="swiper-slide">
            <img src={SlideOne} alt="">
          </div>
          <div class="swiper-slide">
            <img src={SlideTwo} alt="">
          </div>
          <div class="swiper-slide">
            <img src={SlideThree} alt="">
          </div>
          <div class="swiper-slide">
            <img src={SlideFour} alt="">
          </div>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-prev-custom"></div>
        <div class="swiper-button-next-custom"></div>
        <div class="arrow"></div>
    </div>
</div>
